@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

.selectContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 0 0 0.5em;

  @media screen and (max-width: 320px) {
    @include flexColumn();
  }

  & div:first-child {
    margin-right: 1em;
  }
}
