* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

.outerContainer {
  padding: 0 7em 4em 7em;
  @include flexColumn();
  @media screen and (max-width: 600px) {
    padding: 0 3em 1.5em 3em;
  }
}
